<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>我的收藏</title>

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" href="front/assets/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="front/assets/css/plugins/animate.min.css">
  <link rel="stylesheet" href="front/assets/css/plugins/magnific-popup.css">
  <link rel="stylesheet" href="front/assets/css/plugins/slick.css">
  <link rel="stylesheet" href="front/assets/css/plugins/slick-theme.css">
  <link rel="stylesheet" href="front/assets/css/plugins/ion.rangeSlider.min.css">

  <!-- Icon Fonts -->
  <link rel="stylesheet" href="front/assets/fonts/flaticon/flaticon.css">
  <link rel="stylesheet" href="front/assets/fonts/font-awesome/css/all.min.css">

  <!-- Coffeez Style sheet -->
  <link rel="stylesheet" href="front/assets/css/style.css">
  <link rel="stylesheet" href="common/css/xtiper.css">
  <link rel="stylesheet" href="common/css/sweetalert.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

</head>

<body>

  <div th:replace="common/front-common::#front1"></div>
  <div th:replace="common/front-common::#androNewsletterPopup"></div>
  <div th:replace="common/front-common::#front4"></div>
  <div th:replace="common/front-common::#front5"></div>
  <div th:replace="common/front-common::#front6"></div>
  <div th:replace="common/front-common::#front7"></div>
  <div th:replace="common/front-common::#front8"></div>

  <!-- Subheader Start -->
  <div class="andro_subheader pattern-bg primary-bg">
    <div class="container">
      <div class="andro_subheader-inner">
        <h1>我的收藏</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">主页</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Subheader End -->

  <!-- Wishlist Start -->
  <div class="section">
    <div class="container">

      <!-- Wishlist Table Start -->
      <table class="andro_responsive-table">
        <thead>
        <tr>
          <th class="remove-item"></th>
          <th>商品名称</th>
          <th>商品价格</th>
          <th>商品状态</th>
          <th>库存</th>
          <th>商品分类</th>
          <th>收藏时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="commodity:${commodities}">
          <td class="remove">
            <button type="button" class="close-btn close-danger remove-from-cart" th:onclick="undoCollect([[${commodity.id}]])">
              <span></span>
              <span></span>
            </button>
          </td>
          <td data-title="Product">
            <div class="andro_cart-product-wrapper">
              <img th:src="${commodity.img}" alt="prod1">
              <div class="andro_cart-product-body">
                <h6> <a th:href="@{product(id=${commodity.id})}" th:text="${commodity.name}"></a> </h6>
                <p th:text="${commodity.info}"> </p>
              </div>
            </div>
          </td>
          <td data-title="Price"> <strong th:text="${'¥ '+commodity.nowPrice}"></strong> </td>
          <td data-title="Availability">
            <span th:if="${commodity.status == 1}" class="andro_product-stock instock">上架</span>
            <span th:if="${commodity.status == 0}" class="andro_product-stock outofstock">该商品已下架</span>
          </td>
          <td data-title="Total" th:text="${commodity.inventory + ' 件'}"></td>
          <td data-title="Total"> <strong th:text="${commodity.classify}"></strong> </td>
          <td data-title="Total"> <strong th:text="${#dates.format(commodity.addTime,'yyyy-MM-dd HH:mm')}"></strong> </td>
          <td th:if="${commodity.status == 1}" data-title="Actions"> <a href="javaScript:void(0)" th:onclick="addCart([[${commodity.id}]],1)" class="andro_btn-custom btn-sm shadow-none">加入购物车</a> </td>
          <td th:if="${commodity.status == 0}" data-title="Actions"> <span class="andro_btn-custom btn-sm shadow-none" disabled="disabled" style="background: #c38241">商品已下架</span> </td>
        </tr>
        </tbody>
      </table>
      <!-- Wishlist Table End -->

    </div>
  </div>
  <!--  Wishlist End -->

  <!-- Instagram Start -->
  <div th:replace="common/front-common::#instagram"></div>
  <!-- Instagram End -->

  <!-- Footer Start -->
  <div th:replace="common/front-common::#footer"></div>
  <!-- Footer End -->

  <!-- Vendor Scripts -->
  <script src="front/assets/js/plugins/jquery-3.4.1.min.js"></script>
  <script src="front/assets/js/plugins/popper.min.js"></script>
  <script src="front/assets/js/plugins/waypoint.js"></script>
  <script src="front/assets/js/plugins/bootstrap.min.js"></script>
  <script src="front/assets/js/plugins/jquery.magnific-popup.min.js"></script>
  <script src="front/assets/js/plugins/jquery.slimScroll.min.js"></script>
  <script src="front/assets/js/plugins/imagesloaded.min.js"></script>
  <script src="front/assets/js/plugins/jquery.steps.min.js"></script>
  <script src="front/assets/js/plugins/jquery.countdown.min.js"></script>
  <script src="front/assets/js/plugins/isotope.pkgd.min.js"></script>
  <script src="front/assets/js/plugins/slick.min.js"></script>
  <script src="front/assets/js/plugins/ion.rangeSlider.min.js"></script>
  <script src="front/assets/js/plugins/jquery.zoom.min.js"></script>


  <!-- Coffeez Scripts -->
  <script src="front/assets/js/main.js"></script>
  <script src="common/js/xtiper.min.js"></script>
  <script src="common/js/sweetalert.js"></script>
  <script src="common/js/custom.js"></script>

</body>

</html>
